# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
build/
dist/

# Virtual environment
venv/
.venv/

# VS Code and PyCharm
.idea/
.vscode/
*.code-workspace

# Binary files
*.bin

# Other files
out/
.known_hosts
